@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/grid/_all.sass";

@import "node_modules/bulma/sass/elements/title.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/notification.sass";
@import "node_modules/bulma/sass/elements/other.sass";
@import "node_modules/bulma/sass/elements/content.sass";
@import "node_modules/bulma/sass/elements/progress.sass";
@import "node_modules/bulma/sass/elements/icon.sass";

@import "node_modules/bulma/sass/components/menu.sass";
@import "node_modules/bulma/sass/components/card.sass";
@import "node_modules/bulma/sass/components/panel.sass";

@import "node_modules/bulma/sass/helpers/color.sass";
@import "node_modules/bulma/sass/helpers/spacing.sass";
@import "node_modules/bulma/sass/helpers/flexbox.sass";

@import "node_modules/bulma/sass/form/_all.sass";

body {
  padding: 16px;
}

#main-menu {
  padding: 32px;
}

.is-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.vcenter-icon {
  display: inline-block;
  font-size: 14px;
  height: 100%;
  line-height: 1em;
  vertical-align: middle;
  margin-right: 0.75em;
}

.md-icon {
  display: inline-block;
  background-size: contain;
  width: 1em;
  height: 1em;
}

.md-description-black {
  background-image: url('third_party/material_icons/description_black_24dp.svg');
}

.md-folder-black {
  background-image: url('third_party/material_icons/folder_black_24dp.svg');
}

.md-arrow-back-black {
  background-image: url('third_party/material_icons/arrow_back_black_24dp.svg');
}

.md-collections-bookmark-black {
  background-image: url('third_party/material_icons/collections_bookmark_black_24dp.svg');
}